[submodule "profiler"]
	path = profiler
	url = https://github.com/gdborton/screeps-profiler
[submodule "ScreepsAutocomplete"]
	path = ScreepsAutocomplete
	url = https://github.com/Garethp/ScreepsAutocomplete
